
.nav {
    display: flex;
    margin-top: 1.5em;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: transparent;
    color: white;
  }
  
  .barra {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin: 0 1rem;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    margin-left: 23em;
    background: white;
    outline: none;
    box-shadow: 7px 7px 0px 0px black;
    transition: all 0.5s;
  }
  
  .input:focus {
    box-shadow: none;
    transition: all 0.5s;
  }
  
  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0B2447;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
  }
  
  .inputContainer .topline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
  }
  
  .inputContainer input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
  }
  
  .inputContainer .underline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
  }
  
  .inputContainer input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
  }
  
  .inputContainer input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    margin-right: 14em;
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .button:hover {
    background-color: white;
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .homeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 3em;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: black;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
  }
  
  .homeButton:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 4px;
    opacity: 1;
  }
  
  .homeButton:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
  }
  
  .homeButton:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
  }
  
  .homeButton i {
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
  }
  
  .homeButton:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
  }
  
  .homeButton:hover i:nth-child(1) {
    transition-delay: 0.045s;
  }
  
  .homeButton:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
  }
  
  .homeButton:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
  }
  
  .homeButton:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
  }
  
  .homeButton:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
  }
  
  .homeButton:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
  }
  
  .homeButton:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
  }
  
  .homeButton:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
  }
  
  .homeButton:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
  }
  
  
  .searchInput {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 1rem;
  }
  
  .searchButton {
    font-size: 1rem;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #333;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #555;
    color: white;
  }
  
  .home {
    margin-right: 1rem;
  }
  .createLink {
    color: black;
    text-decoration: none;
    background-color: white;
    margin: 3em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .createLink:hover {
    background-color: black;
    color: white;
  }
  